@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);
* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  max-height: 100vh;
  background-color: #eef9fd;
}

.container {
  width: 95%;
  max-width: 378px;
  margin: auto;
  max-height: 100vh;
  position: relative;
  background-color: #ffdcdc;
  min-height: 100vh;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.container nav {
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 10px;
  gap: 10px;
}
.container nav h1 a {
  color: #804140;
}
.container nav .user-status {
  display: flex;
  flex-direction: column;
}
.container nav .user-status div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.container nav .user-status .circle {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  background-color: gray;
  transform: translateY(1px);
}
.container nav .user-status .circle.green {
  background-color: green;
}
.container nav .user-status .status {
  font-size: 0.7rem;
  color: gray;
}
.container nav button {
  padding: 8px 15px;
  border: none;
  background-color: #ffdcdc;
  color: black;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.08s ease;
}
.container nav button i {
  font-weight: 900;
}
.container main {
  height: 100%;
}
.container main .messages-wrapper {
  display: flex;
  max-height: calc(100vh - 100px);
  flex-direction: column;
  overflow-y: scroll;
}
.container main .messages-wrapper .message {
  background-color: #804140;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  align-self: flex-end;
  overflow-wrap: break-word;
  max-width: 60%;
  color: white;
}
.container main .messages-wrapper .message.sent {
  background-color: #CC6765;
  align-self: flex-start;
}
.container #send-message-form {
  display: flex;
  width: 100%;
  background-color: red;
  position: absolute;
  bottom: 0;
}
.container #send-message-form .input-field {
  padding: 12px;
  width: 80%;
  border: none;
  outline: none;
}
.container #send-message-form .send-btn {
  all: unset;
  width: 20%;
  text-align: center;
  background-color: #CC6765;
  cursor: pointer;
  transition: 0.1s ease;
  color: white;
}
.container #send-message-form .send-btn:hover {
  background-color: #FF8280;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffdcdc;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #804140;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #804140;
}
