@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);
* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #eef9fd;
}

.green-circle {
  width: 10px;
  height: 10px;
  display: block;
  background-color: green;
  border-radius: 50%;
  transform: translateY(2px);
}

.container {
  width: 95%;
  max-width: 378px;
  margin: auto;
  background-color: #ffdcdc;
  min-height: 100vh;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px 10px 10px;
}
.container nav .user-info {
  display: flex;
  gap: 10px;
  align-items: center;
}
.container nav .user-info > div {
  gap: 3px;
  display: flex;
  align-items: center;
}
.container nav button {
  padding: 8px 15px;
  border: none;
  background-color: #ffdcdc;
  color: black;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.08s ease;
}
.container nav button i {
  font-weight: 900;
}
.container main > a {
  text-decoration: none;
}
.container main .convo {
  padding: 10px;
  color: #252525;
  transition: 0.05s ease-out;
}
.container main .convo p:nth-child(1) {
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
  left: 14px;
}
.container main .convo p:nth-child(1)::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  background-color: gray;
  transition: 0.2s ease;
}
.container main .convo p:nth-child(1).offline::before {
  background-color: gray;
}
.container main .convo p:nth-child(1).online::before {
  background-color: green;
}
.container main .convo p:nth-child(2) {
  font-size: 0.9rem;
  font-weight: 400;
  color: #484848;
}
.container main .convo p:nth-child(3) {
  font-size: 0.7rem;
  font-weight: 200;
}
.container main .convo:hover {
  transition: 0.1s ease;
  background-color: #FF8280;
}
.container main .no-convo {
  text-align: center;
  color: #5d5d5d;
  font-size: 0.8rem;
}
.container section {
  position: relative;
}
.container section #user-search {
  padding: 12px;
  width: 100%;
  border: none;
  outline: none;
}
.container section #floating-users {
  position: absolute;
  top: 43px;
  left: 0;
  z-index: 2;
  width: 100%;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.container section #floating-users a {
  display: block;
  text-decoration: none;
  padding: 5px 8px;
  background-color: #804140;
  color: white;
}
.container section #floating-users a:hover {
  background-color: #0a4264;
}
.container section #floating-users p {
  padding: 5px 8px;
  background-color: #CC6765;
  color: white;
  text-align: center;
}
